<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Invents Mgt Sys</title>
  </head>
  <body>
    <div class="container">
      <div class="nav main-area"></div>
      <div class="content">
        <div class="left-content">sdfsfd</div>
        <div class="right-content">sdfsdf</div>
      </div>
      <div class="footer main-area"></div>
    </div>
  </body>
</html>
